.div-content-main{
  margin: 30px;
}

table {
  width: 100%;
  background-color: #dddddd;
  color: black;
  padding: 20px;
  text-align: center;
}

.mat-header-cell{
  color: black;
  font-size: 14px;
  font-weight: 600;
  text-align: center;
}
.mat-cell, .mat-footer-cell{
  color: black;
}
.button-clear{
}